.answers {
  align-items: stretch;
  background-color: blueviolet;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 16px;
  padding-bottom: 8px;
  width: 100vw;
}

.answers button {
  background-color: rgb(230, 228, 228);
  border: 3px solid rgb(204, 200, 200);
  border-radius: 8px;
  color: black;
  font-size: 18px;
  margin-top: 8px;
  min-height: 40px;
  padding: 4px;
  width: calc(50% - 20px);
}

.answers button:enabled:hover {
  background-color: rgb(204, 200, 200);
}

.answers .red {
  border: 3px solid red;
}

.answers .green {
  border: 3px solid rgb(6, 240, 15);
}
